<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>

  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

  <appender title="FILE" class="ch.qos.logback.core.FileAppender" name="FILE">
    <file>${application.home:-.}/logs/application.log</file>
    <encoder>
      <pattern>%date [%level] from %logger in %thread - %message%n%xException</pattern>
    </encoder>
  </appender>

  <appender title="STDOUT" class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <encoder>
      <pattern>%coloredLevel %logger{15} - %message%n%xException{10}</pattern>
    </encoder>
  </appender>

  <appender title="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender" name="ASYNCFILE">
    <appender-ref ref="FILE" />
  </appender>

  <appender title="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender" name="ASYNCSTDOUT">
    <appender-ref ref="STDOUT" />
  </appender>

  <logger title="play" level="INFO" name="play"/>
  <logger title="application" level="DEBUG" name="application"/>

  <!-- Off these ones as they are annoying, and anyway we manage configuration ourselves -->
  <logger title="com.avaje.ebean.config.PropertyMapLoader" level="OFF" name="com.avaje.ebean.config.PropertyMapLoader"/>
  <logger title="com.avaje.ebeaninternal.server.core.XmlConfigLoader" level="OFF" name="com.avaje.ebeaninternal.server.core.XmlConfigLoader"/>
  <logger title="com.avaje.ebeaninternal.server.lib.BackgroundThread" level="OFF" name="com.avaje.ebeaninternal.server.lib.BackgroundThread"/>
  <logger title="com.gargoylesoftware.htmlunit.javascript" level="OFF" name="com.gargoylesoftware.htmlunit.javascript"/>
  <logger name="org.neo4j.ogm" level="debug" />

  <root level="WARN">
    <appender-ref ref="ASYNCFILE" />
    <appender-ref ref="ASYNCSTDOUT" />
  </root>

</configuration>
